*{
    box-sizing: border-box;

}
:root {
    --text:hsl(0, 0%, 100%);
    --link:rgb(255, 255, 255);
    --nav:rgba(0, 0, 0, 0.815);
    --body:rgb(0, 0, 0);
    --footer:rgb(7, 7, 7);
    --scroll-thumb:rgb(148, 105, 105);
    --scroll-bar:rgba(119, 15, 15, 0) ;
}
:root{
    --1:rgb(0, 138, 143) ;
    --2:rgb(2, 98, 105);
    --3: rgb(3, 255, 171);
}

body {
    color: var(--text);
    background: var(--body);
    text-transform:capitalize;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}

body::-webkit-scrollbar{
    display: none;
    background: var(--scroll-bar);
}

/* Elements */
button {
    margin: 10px;
    padding: 10px;
    border: 5px solid #036154;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    /* transition: 1s; */
    color:rgb(1, 36, 36);
}
button a{
    color:rgb(0, 170, 71);
}



::placeholder {
    color: rgb(2, 46, 46);
}
::selection {
    color: rgb(3, 175, 255);
    background: rgba(255, 255, 255, 0.138);
}

/* Header */

nav {
    
    
    background: var(--nav);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.span {
    color: var(--1);
}

nav ul li {
    list-style: none;
    display: inline;
    /* font-size: 1rem; */
    
}

nav a, footer a {
    text-decoration: none;
    color:var(--link);
    border-radius: 1px;
    padding: 2px;
    /* position: relative;
}

a::after{
    content: '';
    position: absolute;
    background: rgb(0, 185, 161);
    height: 4px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 1s;
    border-bottom-right-radius: 133px;
}
a:hover:after{
    width: 100%; */
}


/* main::-webkit-scrollbar {
    background: var(--scroll-bar);
    width: 5px;
   
    
}

main::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
} */




/* Main Content */

main {
    min-height: 90vh;
    padding: 10px 50px;
}


.courses{
    text-align: center;
    display: none;
}



.course-item  {
    width: auto;
}
.course-item img{
    width: 600px;
    border-radius: 10px;
}


.container {
    /* for center content */
    display: flex;
    align-items: center;
    justify-content: center;
}


.form{
text-align: center;
}

.form input,
.form textarea{
    margin: 10px;
    padding: 10px;
    resize: none;
    border: 5px solid #ffffff;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    font-weight: 900;
    border-color: var(--2);
}
.form input:hover,
.form textarea:hover{
    background: rgba(255, 255, 255, 0.966);
}



/* projects */

.project{
 
 padding: 5px;
 width: 80vw;
margin: 5px;
}
.project img{
    width: 100%;
}


/* footer */

footer {
    background:var(--footer);
    padding: 10px;
}

footer .logo{
    text-align: center;
}

.footer-item{
    display: inline-block;
    padding: 40px;
}

.footer-item p{   
    width: 160px;
    line-height: 30px;
}
.footer-item ul{
    padding: 0;
}

.footer-item ul li {

    list-style: none;
    margin: 12px auto;
}

footer .reserved {
    text-align: center;
    font-size: small;
}


@media (max-width: 1000px) {
    .course-item img {
        width: 280px;
        
    }


}